/* The code below puts the title of the website in the center */
.title { 
    display: flex;
    justify-content: center;
    font-family: 'UnifrakturMaguntia';
    font-size: 300%;
    padding-bottom: 10px;
    border-bottom: white solid 2px
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: white;
    text-align: center;
    background-color: black;
 /*  Add text-shadow for simulating ink splotches */
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:white;
    text-align: center;
}
.list{
    text-align: left;
}

img{
    width:70%;
}
